<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Register</title>
    <%- include('../public/dash.css'); %>
</head>

<body>
    <center>
    <h1>Register</h1>
    <ul>
        <if(type of message != NULL )>
                <li> <%= message %></li>
    </ul>
    <form action="/api/user/signup" method="post">
        <label>Name:</label>
        <input type="text" required name="name" placeholder="Name" required>
   

    <label>Password:</label>
    <input type="password" name="password" placeholder="Password" required>
    <ul>
        <li>Password length >=8</li>
        <!-- <li>Password Should have at least 1 digit</li> -->
    </ul>
    <label>EmailID:</label>
    <input type="email" name="email" required>
    <br>
    <button type="submit" style="background-color: rgb(138, 228, 138);">Register</button>

    <button type="reset" style="background-color: rgb(230, 106, 106);">Reset FORM</button>
</form>
    <a href="/user/signin"> already Registeder? Login in here</a>
</center>
</body>

</html>