<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
</head>
<body>
    <h1>User Is Unauthorized</h1>
    <a href="/user/signin"> Login in here</a>
    <a href="/"> Register in here</a>

    <script>
        var myHeaders = new Headers();

        const uid1 = document.cookie;
        const uid = uid1.slice(4, 40);
        const token = uid1.slice(49);

        console.log(`TOKEWN = ${token}`);
        console.log(`UID1: ${uid1}`);
        console.log(`Bearer ${token}`);
        myHeaders.get('Authorization');
        myHeaders.append('Authorization', `Bearer ${token}`);

    </script>
</body>
</html>